*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: rgb(245, 242, 242);
  color: rgb(68, 68, 68);
}

nav {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  background-color: white;
}

.nav-container {
  width: 85%;
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.mt-50 {
  margin-top: 50px;
}

.search-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 5px;
  padding: 0 0 0 5px;
  background: white;
}

input:focus {
  outline: none;
}

.search button {
  color: black;
  background: rgb(209, 206, 206);
  border: none;
  padding: 0 10px;
  text-align: center;
  font-weight: bold;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

#select {
  width: 250px;
  text-align: center;
  height: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 0 10px;
  border-radius: 5px;
  color: rgb(68, 68, 68);
}

input {
  height: 50px;
  width: 400px;
  border: none;

  padding: 0 10px;
}

#flags-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  align-items: stretch;
}

.country {
  flex-basis: calc(25% - 25px);
  margin-top: 20px;
}

.card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  border-radius: 7px;
  padding-bottom: 30px;
}

.card:hover {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

img {
  width: 100%;
  height: 200px;
}

.card h3,
.card p {
  padding-left: 20px;
}

.card h3 {
  margin: 10px 0;
}

.card img {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.back-button {
  padding: 10px 40px;
  border: none;
  border-radius: 7px;
  background: rgb(53, 52, 52);
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.country-info {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.img-holder,
.country-description {
  flex-basis: calc(50% - 30px);
}

.country-description {
  padding: 40px 0;
}

.img-holder img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.country-details {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.col-1,
.col-2 {
  flex-basis: calc(50% - 20px);
  padding: 10px;
}

.col-1 p,
.col-2 p {
  padding-bottom: 3px;
}

.border-countries p {
  display: inline;
  padding: 10px;
}

.border-countries a {
  text-decoration: none;
  border: none;
  background: rgb(228, 227, 227);
  padding: 5px 10px;
  color: rgb(8, 8, 8);
  border-radius: 7px;
  margin: 0 2px;
}

.error {
  border: 2px solid red;
  background: rgb(240, 159, 159);
  padding: 20px;
  text-align: center;
  color: black;
}

@media (max-width: 414px) {
  .nav-container {
    width: 100%;
    padding: 0 20px;
    flex-direction: column;
  }

  .mode-toggle {
    display: none;
  }

  .container {
    width: 100%;
    padding: 0 20px;
  }

  .search-filter {
    flex-direction: column;
  }

  .search {
    width: 100%;
  }

  .filter {
    width: 100%;
    margin-top: 10px;
  }

  .search input {
    flex: 2;
    width: 100%;
  }

  .search button {
    flex: 1;
  }

  #select {
    width: 100%;
  }

  #flags-container {
    flex-direction: column;
  }

  .country-info {
    flex-direction: column;

    gap: 0;
  }

  .mt-50 {
    margin-top: 20px;
  }

  .country-description {
    margin-top: 0;
  }

  .country-details {
    flex-direction: column;
  }

  .border-countries a {
    display: block;
    margin-top: 10px;
  }
}

@media (min-width: 415px) and (max-width: 799px) {
  .container {
    width: 100%;
    padding: 0 10px;
  }

  #flags-container {
    display: flex;
    gap: 10px;
  }
  .country {
    flex-basis: calc(50% - 10px);
  }

  .mt-50 {
    margin-top: 10px;
  }

  nav {
    height: 100%;
  }

  .search input {
    width: 100%;
  }

  .search select {
    width: 100%;
  }

  .country-info {
    display: flex;
    flex-direction: column;

    gap: 10px;
  }

  .img-holder {
    flex: 1;
    padding: 40px;
  }

  .country-description {
    flex: 1;
    padding: 0 40px;
  }

  .img-holder img {
    width: 100%;
    height: auto;
  }

  .country-details {
    flex-direction: column;
  }

  .border-countries p {
    display: block;
  }

  .col-1 {
    flex: 100%;
  }
}

@media (min-width: 800px) and (max-width: 1027px) {
  .search input {
    width: 100%;
  }

  .search select {
    width: 100%;
  }

  #flags-container {
    display: flex;
    gap: 10px;
  }
  .country {
    flex-basis: calc(33.3% - 10px);
  }
}
